<ion-header no-border>
    <ion-toolbar color="danger" no-border>
      <ion-buttons slot="start">
        <ion-back-button color="light"></ion-back-button>
      </ion-buttons>
      <ion-title>{{ 'FRIEND.nearby' | translate }}</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content no-padding>
    <div id="chat-parent" class="bg-image" [ngClass]="{ 'bg-image-X': phone_model=='iPhone X'}">
      <ion-list class="unread">
        <!-- Get all user list -->
        <ion-item lines="none" *ngFor="let user of nearbyList">
          <ion-avatar class="chatImage" slot="start">
            <img src="{{user.Photo}}" (click)="viewImage(user.Photo, user.Name, user.about)">
          </ion-avatar>
          <ion-label>
            <div class="">
              <div class="nameAvatar">
                <h6 class="text-ellipsis">{{user.Name}}</h6>
                <p>{{user.distance}}m away</p>
              </div>
            </div>
          </ion-label>
          <div class="count">
        </div>
        </ion-item>
      </ion-list>
    </div>
  </ion-content>
  <ion-button expand="block" fill="outline" color="danger" style="text-transform: none" routerLink="/nearby-map/">
    <ion-icon name="map"></ion-icon>
    {{ 'FRIEND.viewonmap' | translate }}
</ion-button>
  
  