<ion-header>
    <ion-toolbar color="danger show-background">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <!-- <img src="assets/imgs/newlogo.png" width="5%" /> -->
        <img src="assets/imgs/newlogo.png" class="logoCircle">
        <!-- <ion-title>{{ 'HOME.messages' | translate }}</ion-title> -->
        <!-- <ion-buttons slot="end" routerLink="/notifications/">
            <ion-button id="notification-button">
                <ion-icon name="notifications" style="font-size: 60px"></ion-icon>
                <ion-badge color="primary" id="notifications-badge" *ngIf="user && user.notifications == true">{{notifications}}
                </ion-badge>
            </ion-button>
        </ion-buttons> -->

        <!-- <ion-buttons slot="end" (click)="findUser()">
          <ion-button>
              <ion-icon name="search" style="font-size: 28px"></ion-icon>
          </ion-button>
      </ion-buttons> -->
    </ion-toolbar>
</ion-header>
<ion-content>

</ion-content>