.bg-image{
  height: 100%;
  width: 100%;
  background-image: url('../../assets/imgs/chat.png');
  background-size: cover;
  background-position: center;
  //padding: 60px 15px 55px 15px;
  overflow: scroll;
}
.bg-image-X{
  padding: 80px 15px 75px 15px;
}

.profile {
  position: relative;
  overflow: hidden;
  height: 24vh;
  margin-bottom: -1.625em;

  img {
    width: 25vw;
    height: 25vw;
    border-radius: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    object-fit: cover;
  }

}

ion-card{
  background: #ffffff;
}
