<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ 'GROUP.grouplist' | translate }}</ion-title>
  </ion-toolbar>
  <!-- Search Group -->
  <ion-toolbar color="danger">
    <ion-searchbar mode="md" (ionInput)="getGroup($event)"  placeholder="Search Group.."></ion-searchbar>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="danger" (click)="createGroup()">
      <ion-icon name="people" expand="icon-only" color="light"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <div id="chat-parent" class="bg-image" [ngClass]="{ 'bg-image-X': phone_model=='iPhone X'}">
    <ion-spinner style="display:block; margin-left: auto; margin-right:auto; margin-top: 50px; margin-bottom:5px" name="crescent" *ngIf="Groups.length === 0"></ion-spinner>
    <ion-grid>
      <ion-row>
        <!-- Group List start here -->
        <ion-col size="6" *ngFor="let group of Groups" (click)="openGroupBody(group)">
          <ion-card no-margin>
            <div class="profile">
              <img src="{{group.Picture}}"/>
            </div>
            <div text-center style="padding-bottom: 5px; font-size: 16px; font-weight: bold; color: black"><b>{{group.Name}}</b></div>
            <div text-center padding-bottom style="font-size: 12px">created on {{group.timestamp | date}}</div>
          </ion-card>
        </ion-col>
        <!-- Group list ends here -->
      </ion-row>
    </ion-grid>
  </div>
</ion-content>








