<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start" (click)="goBack()">
      <ion-button fill="clear">
        <ion-back-button color="light"></ion-back-button>
      </ion-button>
    </ion-buttons>
    <!-- Friend details when chating -->
    <ion-buttons slot="end">
      <ion-button fill="clear">
        <img src="{{friendImage}}" (click)="viewImage(friendImage, friendName, friendAbout)">
      </ion-button>
    </ion-buttons>
    <span style="font-size: 15px">{{friendName}}</span><br>
    <span style="font-size: 13px" *ngIf="friendStatus == 'Online' && hideStatus" color="dark">{{ 'CHAT.online' | translate }}</span>
    <span style="font-size: 13px; padding-left: 6px" *ngIf="friendTyping == 'true' && hideStatus" color="dark">{{ 'CHAT.typing' | translate }}</span>
    <span style="font-size: 10px" *ngIf="friendStatus == 'Offline'" color="dark">{{ 'CHAT.lastseen' | translate }} {{friendLastSeen | date:'medium'}}</span>
  </ion-toolbar>
</ion-header>
<ion-content [scrollEvents]="true" (ionScrollStart)="logScrollStart()" (ionScroll)="logScrolling()" (ionScrollEnd)="logScrollEnd()">
  <!-- Chat list between friend with Id and currentUser with item.Id != friend.Id -->
  <div *ngFor = "let item of allmessages; let i = index" (press)="showMessageConfirm(item)">
    <!-- When the message type is text the current user sees this-->
    <div class="received chat-box" *ngIf="item.Id == friend.Id && item.type == 'text'">
      <h6>{{item.message}}</h6>
      <p>{{item.timestamp | date:'medium'}}</p>
    </div>
    <!-- When the message type is text friend sees this-->
    <div class="send chat-box" *ngIf="item.Id != friend.Id && item.type == 'text'">
      <h6>{{item.message}}</h6>
      <p>{{item.timestamp | date:'medium'}}</p>
    </div>
     <!-- When the message type is text the current user sees this-->
     <div class="received chat-box" *ngIf="item.Id == friend.Id && item.type == 'file'">
      <h6>{{item.message.filename}} {{item.message.fileext}}</h6>
      <p>{{item.timestamp | date:'medium'}}</p>
    </div>
    <!-- When the message type is text friend sees this-->
    <div class="send chat-box" *ngIf="item.Id != friend.Id && item.type == 'file'">
      <h6>{{item.message.filename}} {{item.message.fileext}}</h6>
      <p>{{item.timestamp | date:'medium'}}</p>
    </div>
    <!-- When the message type is Image the current user sees this-->
    <div class="receivedimage chat-box" *ngIf="item.Id == friend.Id && item.type == 'image'">
      <ion-card>
          <img src="{{item.message}}" (click)="viewImage(item.message, friendName, item.timestamp)"/>
          <p padding>{{item.timestamp | date:'medium'}}</p>
      </ion-card>
    </div>
    <!-- When the message type is Image friend sees this-->
    <div class="sendimage chat-box" *ngIf="item.Id != friend.Id && item.type == 'image'">
      <ion-card>
      <img src="{{item.message}}" (click)="viewImage(item.message, friendName, item.timestamp)"/>
      <p padding>{{item.timestamp | date:'medium'}}</p>
      </ion-card>
    </div>
   <!-- When the message type is gif the current user sees this-->
    <div class="sendimage chat-box" *ngIf="item.Id != friend.Id && item.type == 'gif'">
      <ion-card>
        <img src="{{item.message}}"/>
        <p padding>{{item.timestamp | date:'medium'}}</p>
      </ion-card>
      </div>
    <!-- When the message type is gif friend sees this-->
      <div class="receivedimage chat-box" *ngIf="item.Id == friend.Id && item.type == 'gif'">
        <ion-card>
            <img src="{{item.message}}"/>
        <p padding>{{item.timestamp | date:'medium'}}</p>
        </ion-card>
      </div>
      <!-- When the message type is gif the current user sees this-->
    <div class="sendemoji chat-box" *ngIf="item.Id != friend.Id && item.type == 'emoji'">
      <img src="{{item.message}}" style="height: 50px; width: 50px"/>
      <p padding>{{item.timestamp | date:'medium'}}</p>
    </div>
    <!-- When the message type is gif friend sees this-->
    <div class="receivedemoji chat-box" *ngIf="item.Id == friend.Id && item.type == 'emoji'">
      <img src="{{item.message}}" style="height: 50px; width: 50px">
      <p padding>{{item.timestamp | date:'medium'}}</p>
    </div>
    <!-- When the message type is video friend sees this-->
    <div class="sendimage chat-box" *ngIf="item.Id != friend.Id && item.type == 'video'">
      <ion-icon class="playIcon" name="ios-play-outline"></ion-icon>
      <img src={{item.message.thumbnail}}  (click)="startVideo(item.message.source)">
      <p padding>{{item.timestamp | date:'medium'}}</p>
    </div>
    <!-- When the message type is video current user sees this-->
    <div class="receivedimage chat-box" *ngIf="item.Id == friend.Id && item.type == 'video'">
      <ion-icon class="playIcon" name="ios-play-outline"></ion-icon>
      <img src={{item.message.thumbnail}} (click)="startVideo(item.message.source)">
      <p padding>{{item.timestamp | date:'medium'}}</p>
    </div>
    <!-- When the message type is location the current user sees this-->
    <div class="receivedlocation chat-box" *ngIf="item.Id == friend.Id && item.type == 'location'">
      <ion-card>
          <agm-map [latitude]="item.message.lat" [longitude]="item.message.long">
              <agm-marker [latitude]="item.message.lat" [longitude]="item.message.long" [label]="'M'"></agm-marker>
            </agm-map>
            <p text-wrap padding-right style="color: black"><b>{{item.message.address}}</b></p>
            <p>{{item.timestamp | date:'medium'}}</p>
      </ion-card>
    </div>
    <!-- When the message type is location friend sees this-->
    <div class="sendlocation chat-box" *ngIf="item.Id != friend.Id && item.type == 'location'">
      <ion-card>
          <agm-map [latitude]="item.message.lat" [longitude]="item.message.long">
              <agm-marker [latitude]="item.message.lat" [longitude]="item.message.long" [label]="'M'"></agm-marker>
            </agm-map>
            <p text-wrap padding-right style="color: black"><b>{{item.message.address}}</b></p>
          <p padding>{{item.timestamp | date:'medium'}}</p>
      </ion-card>
    </div>
  </div>
</ion-content>
<ion-row padding-left padding-right>
</ion-row>
  <ion-footer> 
    <!-- Message text area with attachment -->
      <div class="input-wrap">
        <ion-button fill="clear" slot="start" color="dark" (click)="EmojiPicker()">
          <ion-icon src="\assets\icon\smile.svg"></ion-icon>
        </ion-button>
        <ion-button fill="clear" slot="start" (click)="attach()" color="dark">
            <ion-icon src="\assets\icon\attach.svg"></ion-icon>
          </ion-button>
        <ion-textarea autosize
                  placeholder="{{ 'CHAT.typemessage' | translate }}"
                  [(ngModel)]="newmessage"
                  (focusin)="onFocus()">
        </ion-textarea>
        <ion-button fill="clear" slot="end" color="dark" (click)="addmessage()" [disabled]="!newmessage">
          <ion-icon src="\assets\icon\send.svg"></ion-icon>
        </ion-button>
      </div>
  </ion-footer>

