<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-back-button color="light"></ion-back-button>
    </ion-buttons>
    <ion-title color="light">{{ 'GROUP.createnew' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="background" fullscreen>
  <div id="chat-parent" class="bg-image" [ngClass]="{ 'bg-image-X': phone_model=='iPhone X'}">
    <div text-center (click)="selectGalleryPhoto()">
      <img src="{{ groupPicture || 'assets/imgs/group.png'}}" style="width: 100px; height: 100px; margin-top: 15px">
      <h6>{{ 'GROUP.selectpic' | translate }}</h6>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <!-- Form for creating group chat-->
    <form #f="ngForm">
      <ion-item>
        <ion-input type="text" [(ngModel)]="form.Name" name="Name" placeholder="{{ 'GROUP.groupname' | translate }}" class="custom-input"></ion-input>
      </ion-item>
      <div class="spacer" style="height: 5px;"></div>
      <ion-item>
        <ion-textarea type="text" row="8" [(ngModel)]="form.description" name="description" placeholder="{{ 'GROUP.groupdescription' | translate }}" class="custom-input"></ion-textarea>
      </ion-item>
      <ion-button expand="block" color="danger" [disabled]="disableCreate" (click)="create()">{{ 'GROUP.create' | translate }}</ion-button>
    </form>
  </div>
</ion-content>
