<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-back-button color="light"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'GROUP.members' | translate }}</ion-title>
  </ion-toolbar>
  <ion-toolbar color="danger">
    <ion-searchbar mode="md" (ionInput)="getUser($event)"  placeholder="{{ 'GROUP.search' | translate }}"></ion-searchbar>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list lines="none">
    <!-- List of group members -->
    <ion-item *ngFor="let user of GroupMembers">
      <ion-avatar slot="start">
        <img src="{{user.Photo}}" (click)="viewImage(user.Photo, user.Name, user.about)">
      </ion-avatar>
      <ion-label>
        <div class="withcount">
          <div class="nameAvatar">
            <h5 class="text-ellipsis" style="color: black"><b>{{user.Name}}</b></h5>
          </div>
        </div>
        <p class="widthHalf" text-wrap *ngIf="groupDetails.Owner === user.Id">{{ 'GROUP.admin' | translate }}</p>
      </ion-label>
      <div style="float: right;" *ngIf="groupDetails.Owner === userId">
        <ion-buttons slot="end">
          <ion-button fill="outline" color="danger" (click)="showMemberConfirmation(user)" >{{ 'GROUP.delete' | translate }}</ion-button>
        </ion-buttons>
      </div>
    </ion-item>
  </ion-list>
</ion-content>



