<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-button (click)="closeModal()"> <ion-icon slot="icon-only" name="close"></ion-icon> </ion-button>
      <ion-title>{{ 'COMPO.selectgif' | translate }}</ion-title>
    </ion-buttons>
  </ion-toolbar>
  <!-- Search for gif and share to chat list -->
  <ion-searchbar debounce="1000" [(ngModel)]="searchText"></ion-searchbar>
</ion-header>
<ion-content color="dark" fullscreen="true">
  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let image of images">
        <img [src]="image.images.fixed_height_downsampled.url" [title]="image.title" (click)="onSelect(image.images.fixed_height_downsampled.url)">
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

