<!-- <ion-header>
    <ion-toolbar color="danger">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>{{ 'HOME.messages' | translate }}</ion-title>
        <ion-buttons slot="end" routerLink="/notifications/">
            <ion-button id="notification-button">
                <ion-icon name="notifications" style="font-size: 60px"></ion-icon>
                <ion-badge color="primary" id="notifications-badge" *ngIf="user && user.notifications == true">{{notifications}}
                </ion-badge>
            </ion-button>
        </ion-buttons>
        <ion-buttons slot="end" (click)="findUser()">
            <ion-button>
                <ion-icon name="search" style="font-size: 28px"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>

    <ion-refresher slot="fixed" (ionRefresh)="ionRefresh($event)" (ionPull)="ionPull($event)" (ionStart)="ionStart($event)">
        <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles" refreshingText="Refreshing..."></ion-refresher-content>
    </ion-refresher>
    <div *ngIf="Conversations.length == 0 && Friends.length === 0" style="padding-top: 180px">
        <h6 text-center><b>{{ 'FRIEND.nofriendyet' | translate }}</b></h6>
    </div>
    <div *ngIf="Conversations.length == 0 && Friends.length === 0" style="padding-top: 250px">
        <ion-fab vertical="center" horizontal="center" slot="fixed">
            <ion-fab-button color="danger" (click)="findUser()">
                <ion-icon name="search" expand="icon-only" color="light"></ion-icon>
            </ion-fab-button>
        </ion-fab>
    </div>
    <h5 *ngIf="Friends.length > 0" style="padding-left: 10px"><b>({{Friends.length}})
    {{ 'HOME.activeuser' | translate }}</b></h5>
    <div class="line" *ngIf="Friends.length > 0"></div>
    <ion-grid no-padding style="margin-top: -35px">
        <ion-row no-padding class="product-row">
            <ion-col size="3" col-xl-3 col-lg-3 col-md-4 col-sm-6 no-padding *ngFor="let friend of Friends?.slice().reverse()" (click)="goChat(friend)">
                <div class="profile1">
                    <img src="{{friend.Photo}}" class="circle1" />
                </div>
                <div text-center style="color: #000; padding-bottom: 10px; font-size: 12px; font-weight: bold">{{ friend.Name }}
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>

    <div class="line" *ngIf="Conversations.length > 0"></div>
    <h5 style="padding-left: 10px" *ngIf="Conversations.length > 0"><b>{{ 'CHAT.chathistory' | translate }}</b></h5>
    <div class="line" *ngIf="Conversations.length > 0"></div>
    <ion-list no-padding padding-top>
        <ion-item-sliding *ngFor="let item of Conversations?.slice().reverse(); let i = index">
            <ion-item lines="none" (click)="goChat(allUsers[i], item.convId)">
                <div class="borderBottomLine"></div>
                <div class="listSection">
                    <div class="UserimgSection">
                        <ion-avatar class="chatImage" slot="start">
                            <img src="{{allUsers[i].Photo}}" class="imagechat">
                            <span class="onlineOffline_icon" [ngStyle]="{'background-color':(allUsers[i].Status === 'Online'? '#4cd137' : '#ff0000')}"></span>
                        </ion-avatar>
                    </div>

                    <div class="usernameSection" style="width: 100%">
                        <h5 style="width: 100%; font-weight: bold; color: black" padding-start>
                            {{allUsers[i].Name}}
                        </h5>
                        <ion-text class="descText" *ngIf="item.type == 'text'" padding-start>{{item.message}}</ion-text>
                        <ion-text class="descText" *ngIf="item.type == 'emoji'" padding-start>
                            <ion-icon name="happy"></ion-icon>Emoji
                        </ion-text>
                        <ion-text class="descText" *ngIf="item.type == 'location'" padding-start>
                            <ion-icon name="pin"></ion-icon>{{ 'CHAT.locationshare' | translate }}
                        </ion-text>
                        <ion-text class="descText" *ngIf="item.type == 'image'" padding-start>
                            <ion-icon name="image"></ion-icon>{{ 'CHAT.imageshare' | translate }}
                        </ion-text>
                        <ion-text class="descText" *ngIf="item.type == 'gif'" padding-start>
                            <ion-icon src="\assets\icon\gif.svg"></ion-icon>{{ 'CHAT.gifshare' | translate }}
                        </ion-text>
                        <ion-text class="descText" *ngIf="item.type == 'video'" padding-start>
                            <ion-icon name="videocam"></ion-icon>{{ 'CHAT.videoshare' | translate }}
                        </ion-text>
                    </div>
                </div>

                <div slot="end" class="lastSection">
                    <ion-note class="sendTime">{{item.timestamp | date: 'dd/MM/yyyy'}}</ion-note>
                    <ion-badge slot="end" class="userBadge" *ngIf="item.unread > 0">{{item.unread}}</ion-badge>
                    <ion-note slot="end"></ion-note>
                </div>
            </ion-item>
            <ion-item-options side="end">
                <ion-button color="danger" (click)="deleteConvs(item.convId, item, allUsers[i])">
                    <ion-icon name="trash"></ion-icon>
                    {{ 'NOTIFY.delete' | translate }}
                </ion-button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
</ion-content> -->