<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-back-button color="light"></ion-back-button>
    </ion-buttons>
    <ion-title color="light">{{ 'AUTH.reset' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="background" fullscreen>
  <!-- Enter email address to reset password-->
  <div id="chat-parent" class="bg-image" [ngClass]="{ 'bg-image-X': phone_model=='iPhone X'}">
    <div text-center>
      <ion-icon src="\assets\icon\messages.svg" style="font-size: 100px; color: #ff0000; margin-top: 15px"></ion-icon>
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <ion-item>
      <ion-input (ionChange)='emailInput($event)' type="email" [(ngModel)]="userDetails.Email" required placeholder="{{ 'AUTH.email' | translate }}" class="custom-input"></ion-input>
    </ion-item>
    <div class="spacer" style="height: 5px;"></div>
    <ion-button expand="block" color="danger" (click)="forgrtPassword()" [disabled]='!isenabled'>{{ 'AUTH.reset' | translate }}</ion-button>
    <div class="spacer" style="height: 10px;"></div>
  </div>
</ion-content>
