<!-- <ion-header>
    <ion-toolbar>
        <ion-title>tutorials</ion-title>
    </ion-toolbar>
</ion-header> -->

<ion-content fullscreen="true" class="container">
    <ion-slides pager="true" [options]="slideOpts">
        <!-- Landing Page Infos  -->
        <ion-slide *ngFor="let slide of slides" class="slide-background" [ngStyle]="{'background-image': 'url(' + slide.imageUrl +')'}">
            <div class="slide-text-content">
                <!-- Company Info  -->
                <div class="company-info animated fadeInDown">
                    <!-- Logo  -->
                    <img src="assets/imgs/newlogo.png"><br>
                    <!-- Company Name  -->
                    <h2>Triplanco</h2>
                    <hr>
                    <!-- Some Text  -->
                    <div class="slide-text">
                        <p padding>{{slide.text}}</p>
                        <!--  <div class="legal"><p text-center class="text-white">By clicking start, you are agree to our <strong>terms & condition</strong></p></div>-->
                        <ion-button fill="solid" color="primary" (click)="skipNext()">next</ion-button>
                    </div>
                </div>
            </div>
        </ion-slide>
    </ion-slides>

</ion-content>