<ion-header>
    <ion-toolbar color="danger show-background">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <!-- <img src="assets/imgs/newlogo.png" width="5%" /> -->
        <img src="assets/imgs/hero_logo.png" class="logoCircle">
        <!-- <ion-title>{{ 'HOME.messages' | translate }}</ion-title> -->
        <ion-buttons slot="end" routerLink="/notifications/">
            <ion-button id="notification-button">
                <ion-icon name="notifications" style="font-size: 50px"></ion-icon>
                <ion-badge color="primary" id="notifications-badge" *ngIf="user && user.notifications == true">{{notifications}}
                </ion-badge>
            </ion-button>
        </ion-buttons>

        <!-- <ion-buttons slot="end" (click)="findUser()">
            <ion-button>
                <ion-icon name="search" style="font-size: 28px"></ion-icon>
            </ion-button>
        </ion-buttons> -->
    </ion-toolbar>
</ion-header>

<ion-content parallax-header no-bounce class="bg-modal" color="medium" fullscreen>
    <!-- Our Banner -->
    <div class="banner"></div>
    <div class="main-content" text-wrap text-center>
        <!-- <h4 style="color:black"><b>Menus</b></h4> -->
        <ion-slides pager="false" class="slide-side" [options]="slideSideOpts">
            <ion-slide>
                <div class="elmt-slide" (click)="browserService.openFlightSearchPage()">
                    <div class="thumb-img">
                        <img src="assets/imgs/menu/flights.png">
                    </div>
                    <!-- <div class="main-txt" text-left>
                        <h4 no-margin class="txt2 fw-600 fs-12 ellipsis uppercase">Flights</h4>
                        <p no-margin class="txt3 fs-12 ellipsis">Various versions have evolved</p>
                    </div> -->
                </div>
            </ion-slide>
            <!-- (click)="browserService.openFlightSearchPage()" -->
            <ion-slide>
                <div class="elmt-slide" (click)="browserService.openHotelSearchPage()">
                    <div class="thumb-img">
                        <img src="assets/imgs/menu/hotels.png">
                    </div>
                </div>
            </ion-slide>
            <ion-slide>
                <div class="elmt-slide">
                    <div class="thumb-img" (click)="browserService.openCarSearchPage()">
                        <img src="assets/imgs/menu/cars.png">
                    </div>
                </div>
            </ion-slide>
            <ion-slide>
                <div class="elmt-slide" (click)="browserService.openBundleSearchPage()">
                    <div class="thumb-img">
                        <img src="assets/imgs/menu/bundles.png">
                    </div>
                </div>
            </ion-slide>

            <ion-slide>
                <div class="elmt-slide" (click)="browserService.openActivitiesSearchPage()">
                    <div class="thumb-img">
                        <img src="assets/imgs/menu/activities.png">
                    </div>
                </div>
            </ion-slide>
            <ion-slide>
                <div class="elmt-slide">
                    <div class="thumb-img" (click)="browserService.openCruiseSearchPage()">
                        <img src="assets/imgs/menu/cruise.png">
                    </div>
                </div>
            </ion-slide>
        </ion-slides>
        <div class="" style="color: darkblue; font-weight: bolder">
            <span>
                <h6 style="margin-top: 11px">
                    <ion-icon name="arrow-round-back"></ion-icon> {{ 'HOME.swipemenu' | translate }} <ion-icon name="arrow-round-forward"></ion-icon>
                </h6>
            </span>
        </div>

    </div>
    <div class="sub-content" text-wrap>
        <!-- Our Specialization -->
        <h4 style="color:rgb(27, 3, 94); font-weight: bolder"><strong>{{ 'HOME.recommendedHotel' | translate }}</strong></h4>
        <ion-slides pager="true" [options]="slideOpts">
            <!-- Landing Page Infos  -->
            <ion-slide *ngFor="let slide of slides" class="slide-background">
                <ion-slide>
                    <div class="elmt-slide" (click)="browserService.openBestDealsPage()">
                        <div class="thumb-img">
                            <img [src]="slide.imageUrl">
                        </div>
                    </div>
                </ion-slide>
            </ion-slide>
        </ion-slides>

        <!-- <p style="color:black">
            {{ 'ABOUT.specializationdetails' | translate }}
        </p> -->
    </div><br><br>

</ion-content>